@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

* {
  scrollbar-width: thin;
  scrollbar-color: yellow black;
}

.mynavbar-svg {
  color: white;
  font-size: 1.5em;
  padding-left: 0.5em;
  background-color: black;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  color: white;
  background: black;
}


.myapp {
  min-height: 100vh;
  width: 100%;

}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar:hover {
  width: 6px;
}


//bg theme
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: yellow;

}

a {
  text-decoration: none;
  color: yellow;
}


Link,
Link:hover,
Link:focus,
Link:active {
  text-decoration: none;
  color: yellow;

}

Link {
  text-decoration: none;
  color: yellow;
}


/* home */
.myhome {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.myhome-top {
  background: yellow;
  width: 50%;
  min-height: 2vh;
  position: absolute;
  top: 0;
  animation-name: myhometop;
  animation-duration: 3s;

}

.myhome-leftA {
  background: yellow;
  width: 1%;
  min-height: 70vh;
  margin: 15vh 0;
  position: absolute;
  top: 0;
  left: 6%;
}



.myhome-left {
  background: yellow;
  width: 5%;
  margin: 15vh 0;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 3s;
}


.mya-name {
  color: yellow;
  width: fit-content;
  font-size: 1em;
}

.mya-name:hover {
  color: white;
}

.my-nrb:hover {
  color: white;
}

.my-nrb {
  font-size: 1em;
  color: yellow;
  width: fit-content;

}


.my-award {
  font-size: 1em;
}

.glitch-divA {
  min-height: 50vh;
  width: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.glitch-ina {
  width: 100%;
  height: 100%;

}

.glitch-divB {
  min-height: 92vh;
  width: 94%;
  position: absolute;
  top: 4vh;
  left: 3%;
  right: 3%;
  bottom: 4vh;
  z-index: -1;
}

.glitch-inb {
  height: 100%;
  width: 100%;
  background-color: black;
}





.myh1-home {
  font-size: 4em;
  width: 70%;
  min-height: 30vh;
  z-index: 100000;
  margin-left: 8%;
}

.mydiv-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

}


.mykace {
  z-index: -999;
  width: 100%;
  min-height: 100vh;
}

.myke {
  color: white;
}

.myke:hover {
  color: yellow;
}

/* project */
.myproject-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(to right, white 50%,
      black 50%);

}

.myproject {
  background-color: yellow;
  width: 100%;
  min-height: 100vh;


}




.myh1-proj {
  text-align: center;
  background: linear-gradient(to right, black 50%,
      white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* work */
// mobile imgs
.contactmobile,
.homemobile1,
.homemobile2,
.menumobile,
.menumobile2,
.reservmobile {
  display: none;
}

.mycontactmobile,
.myhomemobile1,
.myhomemobile2,
.mymenumobile,
.mymenumobile2,
.myreservmobile {
  display: none;
}

img {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.mywork {
  width: 100%;
  min-height: 100vh;
  display: flex;

}

.mydiv-work {
  width: 100%;
  min-height: 100vh;

}


.myintro-work {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(to left, white 35%, black 35% 65%);

}

.myintro-h1-work {
  font-size: 1.2em;
  color: white;
}

.myintro-h2-work {
  font-size: 1.2em;
  color: black;
}

.myintrodiv-work {
  display: flex;
  justify-content: center;
}


.myintro-h1div-work {
  width: 50%;
  min-height: 80vh;
  border-bottom: 2px solid yellow;
  border-right: 2px solid yellow;
  display: flex;
  align-items: center;
  margin: 0vh 0% 20vh 0%;
  padding: 0vh 6% 0vh 2%;
}

.myintro-h2div-work {
  position: relative;
  left: -5%;
  width: 60%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-color: yellow;
  margin: 10vh 0% 10vh 0%;
  padding: 0vh 5% 0vh 5%;
}


.myintroflex-work {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mytamambo-h1 {
  color: black;
  margin: 0vh 0% 5vh 0%;
  font-size: 2em;
  font-weight: 700;
}






.myfirst-work {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.mythird-work {

  width: 100%;
  min-height: 100vh;

}


.mythirdflex-work {

  width: 100%;
  min-height: 100vh;
  display: flex;
}


.mythird-fade {
  background-color: yellow;
  width: 10%;
  min-height: 100vh;
  position: absolute;
}


.myfourth-work {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(to right, black 60%, yellow 40%);
  overflow-x: hidden;


}

.myfourth-fade {
  width: 100%;
  min-height: 100vh;
  background-color: yellow;
}


.myfourthdiv-work {
  width: 40%;
  min-height: 100vh;
}


.myfourth-imgwork {
  width: 80%;
  min-height: 100vh;
  margin: 8vh 0% 0vh 0;
  z-index: 100;
  overflow-x: hidden;

}



.myfifth-work {

  width: 100%;
  min-height: 100vh;
  display: flex;

}

.mysixth-work {

  width: 100%;
  min-height: 100vh;
  display: flex;

}

.myfirsth1-work {
  font-weight: 800;
  color: black;
  font-size: 1.8em;
  z-index: 100;
  left: 2%;
  position: absolute;
  font-weight: 800;
  padding-top: 4%;
  width: 100%;
  min-height: 20%;
  display: flex;
}

.myfirstdiv-work::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 20%;
  background-color: white;
}

// 
.myfirstdiv-work {
  width: 20%;
  min-height: 10%;
  display: flex;
  justify-content: center;
}

.myfirst-imgwork {
  width: 100%;
  min-height: 100vh;
  z-index: 100;
}

.myhomemenu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.homemenu-img {
  margin-top: 10vh;
  width: 100%;
  background-color: yellow;
  min-height: 80vh;
  margin-bottom: 10vh;
}


.myfirst-imgwork::before {
  width: 50%;
  min-height: 80vh;
  content: "";
  background-color: yellow;
  position: absolute;
  margin-top: 15vh;
  z-index: -100;
  right: 0;
  left: 10%;
}

.mythirddiv-work {
  width: 25%;
  display: flex;
  align-items: center;
  min-height: 100%;
}

.mythirddivflex-work {
  width: 100%;
  min-height: 40vh;

}


.mythird-imgwork {
  min-height: 100vh;
  width: 75%;
  z-index: 100;
}

.myhomemenu2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.homemenu2 {
  width: 100%;
  min-height: 80vh;
  margin: 10vh 0% 10vh 0%;
  padding-left: 2%;
}

.menulaptop {
  width: 100%;
  height: 100%;
}

.mymenulaptop {
  width: 100%;
  height: 100%;
}


.myfifthdiv-work {
  width: 10%;
  min-height: 100vh;
}

.myfifthdiv-work {
  content: "";
  width: 45%;
  min-height: fit-content;
  position: absolute;
  right: 0%;
  margin: 5% 0;
  z-index: 100;
  background-color: rgba(255, 255, 0, 0.575);
  backdrop-filter: blur(1px);

}


.myfifthh1-div-work {
  min-height: 100vh;
  background-color: yellow;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myfifth-imgwork {
  width: 62%;
  min-height: 100vh;
  padding: 10vh 0%;
}

.reservation-img {
  width: 100%;
  height: 100%;
}

.myreservation-img {
  width: 100%;
  height: 100%;
}




.mysixthh3div-work {
  min-height: 100vh;
  width: 5%;
  display: flex;
  align-items: flex-end;
}


.mysixth-imgwork {
  width: 85%;
  min-height: 100vh;
  padding: 10vh 0%;
  z-index: 200;
}

.contactimg-work {
  width: 100%;
  height: 100%;
}

.mycontactimg-work {
  width: 100%;
  height: 100%;
}




.mythirdh1-work {
  font-size: 1.2em;
  color: white;
  padding: 0 8px;
}

.mythirdh2-work {
  font-size: 1.1em;
  color: black;
  background-color: rgba(255, 255, 0, 0.493);
  width: 30%;
  min-height: fit-content;
  position: absolute;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.39);
  right: 130px;
  z-index: 100;
  padding: 2% 7px 2% 7px;
}




.myfourthh1-div-worK {
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  min-height: 8vh;
  align-items: center;
  font-weight: 700;
}

.myfourthh1-work {
  color: black;
  margin-right: 10%;
  font-size: 2.2em;
  font-weight: 800;

}


.myfourthh4-flex {
  width: 100%;
  padding: 25% 10% 0 5%;
}


.myfourthh2-work {
  color: white;
  font-size: 1.2em;
}

.myfourthh3-work {
  color: white;
  font-size: 1.2em;
}

.myfourthh4-work {
  width: 2px;
  height: 50vh;
  background-color: yellow;
  margin: 0 0 0 40%;
}

.myfifthh1-work {
  white-space: nowrap;
  position: relative;
  color: black;
  font-weight: 800;
  transform: rotate(-90deg);
  width: 10em;

}

.myfifthh2-work {
  font-size: 1.2em;
  padding: 12% 4% 0vh 2%;
  color: black;
  font-size: 700;
}


.myfifthh3-work {
  font-size: 1.2em;
  padding: 20% 4% 0vh 2%;
  color: black;
  font-size: 700;
}


.mysixthh1div-work {
  min-height: 100vh;
  width: 10%;
  display: flex;
  margin: 10vh 0;
  align-items: center;
}

.mysixthh2div-work {
  width: 50%;
  color: black;
  min-height: 30vh;
  margin-top: -20vh;
  padding: 2em 1%;
  position: absolute;
  z-index: 2300;
  background-color: rgba(255, 255, 0, 0.781);
  backdrop-filter: blur(1px);

}



.mysixthh1-work {
  font-weight: 800;
  font-size: 1.7em;
  color: black;
}



.mysixthh2-work {
  font-size: 1.2em;
  color: black;
}



.mysixthh3-work {
  font-size: 1.2em;
  content: '';
  position: absolute;
  width: 30%;
  min-height: fit-content;
  z-index: 300;
  right: 0;
  background-color: rgba(255, 255, 0, 0.733);
  margin-bottom: 8vh;
  color: black;
  padding: 3% 1% 3% 1%;
}



/* talk */
.mytalk-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.myaostalk {
  width: 100%;
  min-height: 100vh;
  background-color: yellow;

}

.mytalk {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}


.myh1-talk {
  text-align: center;
  font-weight: 800;
  font-size: 3em;
}


.mylink-talk {
  font-size: 2em;
  color: white;
  font-weight: 900;
}

.mylink-talk:hover {
  font-size: 2.5em;
  font-weight: 800;
  transition: 0.5s ease-in-out all;
}

.mynav-talk {
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 100vh;
  background-color: black;
  color: black;
}


.mynav-talk-li {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  color: yellow;
}





.myh1-talkdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
  background-color: yellow;
  background-color: white;
  color: black;

}


/* cont */
.mycont-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myh1-cont {
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
}



.myarrowA {
  height: 7em;
  transform: rotate(90deg);
  cursor: pointer;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  background-color: transparent;
}

.myarrowB {
  height: 7em;
  transform: rotate(90deg);
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  background-color: black;
}

.myarrowA:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);

}

.myarrowB:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}


.myemail-div,
.mycall-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
}

.mycall-div {
  margin-top: 2em;
}

.mycont {
  width: 100%;
  margin: 0vh 14%;
}

.myemail,
.mycall {
  font-size: 8em;
}


/* navbar */
.mynav-ul {
  display: flex;
  justify-content: space-around;
}

.mynav-li {

  list-style: none;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 4s;
  color: yellow;
  font-weight: 900;

}

.mynav-li:hover {
  color: white;
  font-weight: 900;
}

.mynavbar {

  padding: 10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 1s;
  z-index: 4000000000000;
  background-color: rgba(0, 0, 0, 0.26);
}

.mynav-ul {

  display: flex;
  justify-content: space-evenly;
  width: 80%;

}





// @import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");



// svg text 


// .my-svg 
.my-text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #a5dbff;
  font-size: 18em;
  font-weight: 700;
  stroke-width: 1;
  // animation: textAnimate ease 5s 1 alternate;
  // z-index: -2000000;

}




.my-patterns {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.my-svg {
  position: absolute;

}


/* info */
.myinfo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}


.mya-creative {
  font-size: 3em;
}

.myinfo-name {
  text-align: center;

}

.my-bioname {
  color: yellow;
  width: 100%;
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.my-namedivdiv {
  width: 100%;
  min-height: 100%;
  margin-top: -10vh;

}

.my-namedivdivA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.my-namedivdivB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}


.h1-bioname {
  font-size: 2em;
  margin-left: 0.5%;
}

.h2-bioname {
  font-size: 2.5em;
  margin-right: 20%;
}

.h1-bioname:hover {
  color: white;
}

.h2-bioname:hover {
  color: white;

}

.h1div-bioname {
  border: 1px solid yellow;
  width: 20%;
  margin-left: 4%;
  background-color: yellow;
}

.h2div-bioname {
  border: 1px solid yellow;
  background-color: yellow;
  width: 20%;
  margin-right: 4%;
}


.myh2-creative {
  font-size: 1.5em;
}

.myh3-creative {
  font-size: 1.5em;
}



.mydiv-creative {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.myh2div-creative {
  width: 35%;
  background: black;
  min-height: 40vh;
  color: white;
  font-size: 1em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  padding: 1vh 1%;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.39);
}

.myh3div-creative {
  font-size: 1em;
  width: 35%;
  background: black;
  min-height: 40vh;
  margin-left: 2%;
  color: white;
  border-radius: 0.3em;
  display: flex;
  padding: 1vh 1%;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.39);
  align-items: center;
}

.my-brief {
  min-height: 40vh;
  color: black;
  width: 4px;
  background: black;
}

.mytop-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom,
      black 45vh, yellow 45vh 100vh);
}

.mymiddle-info {
  background-color: yellow;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mymiddle-div {
  color: white;
  width: 100%;
  min-height: 100vh;
}

.mymiddle-service {
  background: linear-gradient(to bottom,
      black 30vh, white 30vh 100vh);
}



.mybottom-info {
  width: 100%;
  min-height: 100vh;
  padding: 5vh 5%;
  position: sticky;
  top: 0px;
}

.myh1-servicediv {
  width: 60%;
  margin: 0 20%;
  position: relative;
  top: 26vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

.myh1-service {
  font-weight: 700;
  color: black;
  text-align: center;

}

.myh2-service {
  color: black;
  font-size: 1.5em;
  position: relative;
  top: 40vh;
  width: 80%;
  margin: 0vh 10% 0 10%;
  min-height: 20vh;

}

.mymiddle-img {
  background-image: url(./image/keyboardglass.jpg);
  width: 40%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;


}

.mymiddle-service {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mymiddle-flex {
  width: 60%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.myh1-scheme,
.myh1-brand,
.myh1-ux {
  font-size: 6em;
}

.myh2-scheme,
.myh2-brand,
.myh2-ux {
  font-size: 2em;
}

/* trun acc-item bg-color to black */

// accordion
.accordion-item {
  background: none;
  color: white;
}

.accordion-button {
  background: none;
  color: white;
  display: flex;
}

.accordion-button:active {
  background: none;
  color: none;

}


.acc-item {
  color: none;
  background-color: none;
  border: 1px solid yellow;
  margin: 5vh 0vh;

}

.accordion {
  margin: 10vh 0vh;
}


.accordion-button:focus {
  z-index: 3;
  border-color: none;
  background-color: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}


.accordion-button:not(.collapsed) {
  color: white;
  background-color: transparent;
}


.myversati,
.mycompe,
.mychallenge,
.mycustom {
  color: yellow;
}


.imgpara {
  width: 50px;
  height: 50px;
}


.mylogo {
  cursor: not-allowed;
  pointer-events: none;
  width: 7em;
}


/* footer */
.myfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background-color: yellow;
  background: linear-gradient(to bottom, yellow 70%,
      black 30%);
  z-index: 1000000000;
  position: relative;
  bottom: 0;
}


.myfooter-div {

  width: 80%;
  margin: 3vh 10% 3vh 10%;
  background-color: black;
  z-index: 200000;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.623);
}

.myfoot-hr {
  margin: 1rem 0 0 0;
  height: 2px;
}

.myfooter-center {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2vh 4% 1vh 4%;
}

.myfooter-center-div-1 {
  display: flex;
  width: 50%;

}

.myfooter-center-div-2 {
  display: flex;
  width: 50%;
}

.mycopy-footer {
  text-align: center;
  padding: 3vh 0.5% 0 0.5%;
  border-top: 1px solid grey;
  font-size: 1.1em;
}

.my-legal {
  text-align: start;
}

.my-privacy {
  font-size: 1.2em;
}

.myafooter {
  font-size: 1.2em;
}

.myafooter:hover,
.my-privacy:hover,
.myfooter-link:hover,
.myfootercall:hover,
.myfootermail:hover {
  color: white;
}


.myfootercall,
.myfootermail {
  font-size: 1.2em;
}



.myfooter-logo {

  font-family: "Festive", "cursive";
  font-size: 30px;
  list-style: none;
  cursor: not-allowed;
  padding-top: 2vh;
}

.mynavbar-logo {
  
   font-family: 'Festive', cursive;
  font-size: 30px;
  cursor: not-allowed;
  padding-top: 2vh;
}

.mynav-logo {
  font-family: 'Festive', "cursive";
  font-size: 26px;
  list-style: none;
  cursor: not-allowed;
  text-align: center;
}


.foot-h1s {
  font-size: 1.4em;
}



.my-priv-div,
.my-phone-div,
.my-mail-div,
.my-upwork-div,
.my-linkedin-div,
.my-wapp-div {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 2%;
}




.myfollow,
.my-engage,
.my-legal,
.myexplore {
  min-height: 100%;
  width: 50%;

}

.my-engage,
.my-legal,
.myexplore {
  content: "";

}

// privacy
.myprivacy {
  width: 100%;
  min-height: 100vh;
}

.myh2-privacy {
  padding: 12vh 5% 10vh 5%;
  font-size: 1.5em;
}

.myfooter-link {
  font-size: 1.2em;
  padding-top: 4px;
}

.mynav-footer {
  display: grid;

}

// 
//

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 90000000000000000000000000;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1);
  background-color: white;

}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(2);


}

.cursor--all-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: white;
}

// responsive navbar

// scss
Transitions {
  background-color: black;
}



.mynavbtn {
  display: none;
  border-style: none;
  transition: all 0.3s linear;
}

.mynavbtn:hover {
  transform: rotate(90deg);

}

.myFaBars {
  width: 5em;
  height: 2em;
}

.mynavbtn:checked {
  transform: rotate(90deg);

}



html {
  background: #1b1c1d;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.c-intro {
  -webkit-animation: fe30-anime 1s ease-in-out 4s forwards;
  animation: fe30-anime 1s ease-in-out 4s forwards;
  opacity: 0;
}

.c-fe30 {
  color: white;
  margin-top: 2.5rem;
  text-align: center;
}

.c-fe30 a {
  color: white;
}

.c-fe30 a:hover {
  text-decoration: none;
}

.c-ryanyu {
  background-color: transparent;
  display: block;
  font-family: "Kalam", cursive;
  height: 4.375rem;
  margin: 1.25rem auto 0;
  position: relative;
  text-align: center;
  width: 4.375rem;
}

.c-ryanyu img {
  background-color: white;
  border: 0.1875rem solid #fa9600;
  border-radius: 50%;
  height: 4.375rem;
  -o-object-fit: contain;
  object-fit: contain;
  width: 4.375rem;
}

.c-ryanyu__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: inherit;
  position: absolute;
  top: 0;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2000;
}

.c-ryanyu:hover .c-ryanyu__front {
  transform: rotateY(180deg);
}

.c-ryanyu__back {
  background-color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  color: #fa9600;
  height: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  width: inherit;
  z-index: 1000;
}

.c-ryanyu__back::before {
  content: "Ryan Yu";
  display: block;
  transform: rotate(-45deg) translate(-4px, 25px);
  width: 3.125rem;
}

.c-ryanyu:hover .c-ryanyu__back {
  transform: rotateY(0);
}

@-webkit-keyframes fe30-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fe30-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.myglitch {
  width: 100%;
  min-height: 100vh;
}

// icons
.myicons {
  display: none;
  // background-color: black;
  width: 1.3em;
  height: 1.3em;
}

.myiconsA {
  // background-color: black;
  display: none;
  width: 1.3em;
  height: 1.3em;
}

.myicons .myiconsA:hover {
  pointer-events: none;
}

.my-copy {
  color: yellow;
}


// resume
.myResume {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myResume-div {
  width: 60%;
  min-height: 100%;
  margin: 20vh 20% 10vh 20%;
}

.mypdficon {
  width: 30px;
  margin-right: 10px;
  background-color: black;
}

.mypngicon {
  width: 30px;
  background-color: black;

}

.myh1-cv {
  font-size: 20px;
  margin-right: 10px;
}

.mycv-link-div {
  width: 100%;
  min-height: 100%;
  background: yellow;
}

.mycv-link {
  width: 100%;
  min-height: 100vh;

}

.mycv-dwnld {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2%;
  min-height: 5vh;

}

.mycv-dwnld-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2%;
  min-height: 5vh;
  width: 100%;
  min-height: 100vh;
  background: yellow;
}


.active {
  // background-color: red;
  color: #fff;
}