@media screen and (max-width: 700px) {

    .mynavbar {
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        z-index: 1000000000;
    }

    .cursor {
        z-index: 20000000000;
    }

    .mynav-ul {
        display: grid;
        padding: 4% 0;
        width: 100%;
        min-height: 80vh;
        // border: 1px solid red;
    }
 

    .mynav-li {
        width: 100%;
        // border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        padding: 0;
        font-size: 1.3em;

    }

    .mynavbtn {
        display: flex;
        position: absolute;
        right: 8%;
        top: 4vh;
        // padding: 2%;
        color: #fff;
        background-color: transparent;
    }

    .mylogo {
        left: 10%;
        position: absolute;
        top: 5%;
        width: 6em;
        // height: 2em;
        // size: 31em;

    }


    .myFaBars {
        width: 4em;
        height: 1.5em;
    }


    //footer 
    .myfooter-center {
        width: 100%;
        padding: 0.5vh 0.5% 0.5vh 0.5%;
    }



    .myfooter-center-div-1 {
        display: flex;
    }

    .myfooter-center-div-2 {
        display: flex;
    }


    .foot-h1s {
        font-size: 1.2em;
    }


    .my-legal {
        text-align: start;
        // width: 25%;
    }

    .my-privacy {
        font-size: 1em;
        // padding-left: 0.5em;
        // width: 25%;
    }

    .myafooter {
        font-size: 1em;
        // border: 1px solid rgb(128, 77, 0);
        // padding-left: 0.5em;
    }

    .myfooter-link {
        font-size: 1em;
        padding-top: 4px;
    }


    .myfootercall,
    .myfootermail {
        font-size: 1em;
    }



    //    work
    .contactmobile,
    .homemobile1,
    .homemobile2,
    // .menumobile,
    .reservmobile,
    .menumobile2 {
        display: block;
    }

    .homemenu-img,
    .homemenu2,
    .menulaptop,
    .reservation-img,
    .contactimg-work {
        display: none;
    }


    .mycontactmobile,
    .myhomemobile1,
    .myhomemobile2,
    // .mymenumobile,
    .mymenumobile2,
    .myreservmobile {
        display: block;
    }

    .myhomemenu,
    .myhomemenu2,
    .mymenulaptop,
    .myreservation-img,
    .mycontactimg-work {
        display: none;
    }


    .myfirsth1-work {
        font-weight: 700;
        color: black;
        font-size: 1.6em;
        z-index: 100;
        left: 2%;
        position: absolute;
        font-weight: 800;
        padding-top: 4%;
        width: 100%;
        min-height: 20%;
        // border: 1px solid red;
        display: flex;
        // justify-content: center;
        // align-items: center;
    }


    .myhomemobile1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homemobile1 {
        margin-top: 10vh;
        width: 100%;
        // opacity: 0;
        background-color: yellow;
        height: 80vh;
        margin-bottom: 10vh;
    }

    .myhomemobile2 {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        // background-color: yellow;
        // border: 1px solid red;
    }


    .homemobile2 {
        width: 100%;
        min-height: 80vh;
        margin: 10vh 0% 10vh 0%;
        padding-left: 2%;
    }

    .menumobile2 {
        width: 100%;
        height: 100%;
    }

    .mymenumobile2 {
        width: 100%;
        height: 100%;
    }


    .reservmobile {
        width: 100%;
        height: 100%;
        // display: none;
    }


    .myreservmobile {
        width: 100%;
        height: 100%;
        // display: none;
    }


    // .myfourthh1-work {

    //     padding: 6.8vh 0vh 0 5px;
    //     min-height: 20vh;
    //     font-weight: 700;
    // }

    .myfourthh4-work {
        // border-: 4px solid yellow;
        width: 2px;
        height: 30vh;
        background-color: yellow;
        margin: 0 0 0 40%;
    }


    // .myfourthh4-flex {
    //     // padding: 0vh 10% 0 5%;
    //     padding: 2vh 2% 0 2%;
    //     border: 1px solid red;
    // }

    .mysixthh1div-work {
        //   width: 10%;

    }


    .mysixthh1-work {
        font-size: 1.5em;
    }



    .mysixthh2-work {
        font-size: 1.1em;
    }


    .mysixthh3-work {
        font-size: 1.1em;
        content: '';
        position: absolute;
        width: 30%;
        //  min-height: 52vh;
        min-height: fit-content;
        z-index: 300;
        right: 0;
        background-color: rgba(255, 255, 0, 0.733);
        // border: 1px solid white;
        margin-bottom: 8vh;
        // text-align: center;
        // align-items: center ;
        color: black;
        padding: 3% 1% 3% 1%;
    }

    .contactmobile {
        width: 100%;
        height: 100%;
    }



    // resume
    .myResume-div {
        width: 80%;
        min-height: 100vh;
        // border: 1px solid white;
        // margin: 20vh 20%;
        margin: 15vh 10% 5vh 10%;
    }

    //privacy

    // privacy
    .myprivacy {
        width: 100%;
        min-height: 100vh;
    }

    .myh2-privacy {
        // border: 1px solid blueviolet;
        padding: 15vh 5% 10vh 5%;
        font-size: 1em;
    }

    // info
    .myh1-scheme,
    .myh1-brand,
    .myh1-ux {
        font-size: 4.5em;
    }

    .myh2-scheme,
    .myh2-brand,
    .myh2-ux {
        font-size: 1.8em;
    }


    .acc-item {
        color: none;
        background-color: none;
        border: 1px solid yellow;
        margin: 4vh 0vh;

    }

    .accordion {
        margin: 7vh 0vh 0vh 0vh;
    }

    .myh1-servicediv {
        // border: 1px solid red;
        width: 60%;
        margin: 0 20%;
        position: relative;
        top: 26.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow;
    }

    .myh2-service {
        color: black;
        font-size: 1.3em;
    }


    .mycont {
        width: 100%;
        margin: 0vh 8%;
    }




    .myemail,
    .mycall {
        font-size: 4em;
    }

    .myarrowA {
        height: 4em;
        cursor: pointer;
        // transition-property: all;
        // transition-duration: 2s;
        // transition-timing-function: ease-in;
        background-color: black;
    }

    .myarrowB {
        height: 4em;
        cursor: pointer;
        // transition-property: all;
        // transition-duration: 2s;
        // transition-timing-function: ease-in;
        background-color: black;
    }

    // .myarrowA:active {
    //     height: 100px;
    // }

    // .myarrowB:active {
    //     height: 100px;
    // }





}